# requirements.txt

altgraph==0.17.4
asyncio==3.4.3
multidict==6.3.2
packaging==24.2
propcache==0.3.1
Protego==0.4.0
pyasn1==0.6.1
pycparser==2.22
PyDispatcher==2.0.7
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
queuelib==1.8.0
scapy==2.6.1
setuptools==78.1.0
soupsieve==2.6
typing_extensions==4.13.1
urllib3==2.3.0
w3lib==2.3.1
wheel==0.45.1
